@{
    ViewData["Title"] = "Future Career";
}
<h1>@ViewData["Title"]</h1>

<div class="text-justify">
    <article>
        In the future, I aim to work for a gaming company. I'm not entirely sure which company I want to work for yet, but I do know that I would like to work on the VR project that miHoYo is doing for the next 10-15 years. 
    </article>
    <article>
        I would like to work on RPG type games once I'm in the field more than anything else, specifically a MMORPG, but I could see myself working to produce any genre of game. I also don't have my end goal to be to work for an AAA company, but I would also like to eventually be on a contract with Square Enix to work on one of their AAA titles. 
    </article>

    <img id="job1_img" src="~/images/job.png" />
    <img id="job2_img" src="~/images/job2.png" />
</div>