@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<div class="text-justify">

    <article>
        Hello! My name is Tobie Allen, and I am 20 years old. I was born and raised in Texas, but came here to Neumont for college. Back in Texas, I have a brother, a half sister, and an adopted brother. 
    </article>
    <article>
        I like to play video games in my spare time. My favorite video game series is Kingdom Hearts, with my favorite character being Axel. Within the series, my favorite game based on story is 358 / 2 Days and my favorite based on gameplay is the first Kingdom Hearts. My favorite genre of video game is RPG's and my two least favorite genres are FPS and horror. 
    </article>
    <article>
        Some other fun facts about me are that my favorite type of animal is any big cat (lions, tigers, but not bears). I also like anime, with some of my favorites being Tokyo Ghoul, Akame ga Kill, and Way of the House Husband. And thirdly, my favorite music genre is rock music, speficically punk rock. 
    </article>

    <img id="axel_img" src="~/images/axel.jpg"/>
    <img id="anime_img" src="~/images/anime.png"/>
</div>
