@{
    ViewData["Title"] = "About Me";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>About Me</p>
    <p>General info to be sorted later - 
    My name is Tobie. 
    I am 20 years old. 
    I am from Texas. 
    I am a transgender man and use he/him pronouns. 
    My favorite game series is Kingdom Hearts, favorite in the franchise that I've played is Kingdom Hearts (the first) and favorite based on the story is 358 / 2 Days. 
    I like RPG styled games the most, specifically MMORPGs. 
    I dislike FPS and horror games more than any other type. 
    My favorite type of animal is big cats (lions, tigers, panthers, etc.). 
    I like to watch anime. Some of my favorites are Tokyo Ghoul, Akame ga Kill, and Way of the House Husband. 
    
    </p>
</div>
