@{
    ViewData["Title"] = "Before Neumont";
}
<h1>@ViewData["Title"]</h1>

<p>
    Before Neumont - general info here for now 
    I was a band and theatre kid in high school. 
    I played clarinet in band (and was first chair in our top band for three years in a row) and I was the lights guy in theatre. 
    I knew I wanted to make video games since I was in junior high. 
    I had a cat and two guinea pigs back in Texas. The cat's name is Lennon and the guinea pigs' names were Oreo and Max. 
    I worked a job at Sonic for almost two years and quit it three days before coming to Neumont. 
    I competed in UIL (University Interscholastic League) in high school, specifically the Calculator contest. 
    I graduated high school in 2020 in the top 10% of my class. 
</p>
