@{
    ViewData["Title"] = "Before Neumont";
}
<h1>@ViewData["Title"]</h1>

<div class="text-justify">
    <article>
        In high school, I was both a band and theatre kid. I played clarinet in band (and was first chair in our top band my sophomore through senior year) and I was the lights guy in theatre. I competed in UIL (University Interscholastic League) during high school, specifically the Calculator contest. I also graduated high school in 2020 in the top 10% of my class.
    </article>
    <article>
        I worked a job at Sonic for almost two years and quit it three days before coming to Neumont. At home, I had a cat and two guinea pigs. The cat's name is Lennon and the guinea pigs' names were Oreo and Max. And back when I was still in junior high, I knew I wanted to make video games and decided that that was what I was going to go to college for. 
    </article>
    <img id="cat_img" src="~/images/cat.png" />
    <img id="texas_img" src="~/images/texas.jpg" />
</div>
