@model MoviePage
@{
}

@if (Model == null || Model.MovieList.Count() == 0)
{
    <h1>No movies provided</h1>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <h1>List of movies (@Model.MovieList.Count()): </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Rating</th>
                        <th>Release Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model.MovieList)
                    {
                        <partial name="_MoviePartialView.cshtml" for="@movie" />
                    }
                </tbody>
            </table>
            <!--<select asp-items="@Model.Genres"></select> // this is broken rn -->
        </div>
    </div>
}