@model VideoGame
@{
    ViewData["Title"] = "Edit Collection";
    string strAction = "";
    if (ViewBag.Mode == "Edit")
    {
        strAction = "UpdateGame";
        <h3>Update Game</h3>
    }
    else
    {
        ViewBag.ID = 0;
        strAction = "AddGame";
        <h3>Add Game</h3>
    }
}

<div class="error-messages" asp-validation-summary="All">
    <form id="add_game" class="blanks" asp-controller="Home" asp-action="@strAction" method="post">
        <input asp-for="ID" value="@ViewBag.ID" hidden />
        <input asp-for="Title" placeholder="Title" />
            <span asp-validation-for="Title" class="error-messages"></span>
        <input asp-for="Genre" placeholder="Genre" />
        <input asp-for="Platform" placeholder="Platform" />
        <input asp-for="Rating" placeholder="ESRB Rating" />
        <input asp-for="YearOfRelease" placeholder="Release Year" />

        <button type="submit">Save Game</button>
    </form>

    <form id="delete_game" class="blanks" asp-controller="Home" asp-action="DeleteGame" method="post">
        <input id="delete_id" type="text" name="id" placeholder="ID" />

        <button type="submit">Delete Game</button>

        <label for="id"><a asp-controller="Home" asp-action="Privacy">Find ID</a></label>
    </form>
</div>