@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Video Game Library</h1>

    <p>View your collection <a asp-controller="Home" asp-action="Privacy">here</a>.</p>
    <p>Edit your collection <a asp-controller="Home" asp-action="EditGames">here</a>.</p>
</div>
