@model IEnumerable<VideoGame>
@{
    ViewData["Title"] = "Collection Page";
}
<h1 class="text-center">@ViewData["Title"] - Number of Game(s) in Collection: @Model.Count()</h1>

@if (Model == null)
{
    <h1>No Video Games In Library</h1>
}
else
{
    <div class="text-center">
        <form id="search_form" class="blanks" asp-controller="Home" asp-action="SearchGame" method="post">
            <input id="searchTerm" class="textBox" type="text" name="searchTerm" placeholder="Search Titles" />

            <button type="submit">Search</button>
        </form>
    </div>

    <div class="text-center">
        <form id="filter_form" class="blanks" asp-controller="Home" asp-action="FilterGames" method="post">
            <input id="genre" class="textBox" type="text" name="genre" placeholder="Genre" />
            <input id="platform" class="textBox" type="text" name="platform" placeholder="Platform" />
            <input id="esrbRating" class="textBox" type="text" name="esrbRating" placeholder="ESRB Rating" />

            <button type="submit">Filter Games</button>
        </form>
    </div>

    <h2 class="text-center">List of Video Games:</h2>
    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 text-center">
                <h3><partial name="_GamePartialView.cshtml" for="@game" /></h3>
            </div>
        }
    </div>
}