article {
    margin-bottom: 15px; 
}

#axel_img {
    width: 49%; 
    margin-right: 15px
}

#anime_img {
    width: 49%
}

#cat_img {
    width: 45%; 
    margin-right: 50px; 
}

#texas_img {
    width: 50%; 
}

#job1_img {
    width: 43%; 
    margin-right:15px; 
    margin-bottom: 15px; 
}

#job2_img {
    width: 55%;
}