@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

Info about me (my name, cohort, and blurb on why I chose to do this for my social media site)

<div>
    Hello, my name is Tobie and I am in Cohort 36. 
</div>