@page
@model InClass.Areas.Admin.IndexModel
@{
}

Admin Landing Page

<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item"><a asp-area="Admin" asp-page="/Roles/Index">Roles</a></li>
        </ul>
    </div>
</div>